<mat-drawer-container>
    <mat-drawer #sideDrawer mode="push">Drawer content</mat-drawer>
    <mat-drawer-content>
        <div class="site">
            <header>
                <app-core-header (toggleSideNav)="sideDrawer.toggle()"></app-core-header>
            </header>
            <main>
                <router-outlet></router-outlet>
            </main>
            <footer>
                <app-core-footer></app-core-footer>
            </footer>
        </div>
    </mat-drawer-content>
 </mat-drawer-container>            




