table {
    width: 100%;
}
mat-cell button{
  margin-right: .5em;
}  

mat-cell {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 1em;
}

.bodyHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
